.lunchHelper {
	font-size: 100%;
  width:90%;
  margin: 0 auto;
  padding-top:5%;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.zulunch-icon {
  margin: 0 auto;
  width: 319px;
}

.questions {
  display: grid;
  grid-template-columns: auto auto;

	font-size: 120%;
}

.restaurants {
  display: grid;
  grid-template-columns: auto auto auto;
}

.restaurant {
	border: 0.5px solid white;
	padding: 10px;
	font-size: 1.2em;
  text-align: center;
	cursor: pointer;
}

.valid-restaurant {
	color: #FFFFFF;
	background-color: #87189D;
}
.valid-restaurant:hover {
	background-color: #7F1694;
}

.invalid-restaurant {
	color: #707070;
	background-color: #D7D7D7;
}
.invalid-restaurant:hover {
	background-color: #CCCCCC;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;

  cursor:pointer;
  margin-left:10px;
}
