<div class="lunchHelper">
  <div class="zulunch-icon">
    <img src="assets/zulunch-logo.png" alt="zuLunch">
  </div>

  <div class="questions">
    <div
      class="question"
      (click) = "updateForVegetarians()"
      [ngClass]="(this.vegetarianComing) ? 'question-yes' : 'question-no'"
      >
      Is a vegeterian coming? 🥗
    </div>

    <div
      class="question"
      (click) = "updateForReturningAtOne()"
      [ngClass]="(this.backEarly) ? 'question-yes' : 'question-no'"
      >
      Does anyone have to be back at 1? 🕐
    </div>

    <div
      class="question"
      (click) = "updateForLeavingEarly()"
      [ngClass]="(this.leaveEarly) ? 'question-yes' : 'question-no'"
      >
      Can we leave early? 🏃‍
    </div>

    <div
      class="question"
      (click) = "updateForDrinking()"
      [ngClass]="(this.areWeDrinking) ? 'question-yes' : 'question-no'"
      >
      Are we drinking? 🍻
    </div>
  </div>

  <br/>

  <div class="restaurants">
    <div
      *ngFor="let restaurant of Restaurants; index as i"
      class="restaurant"
      [ngClass]="(restaurant.isViable) ? 'valid-restaurant' : 'invalid-restaurant'"
      (click) = "updateRejected(i)"
      >
        <span>
          {{restaurant.name}}
        </span>
        <br/>
        <div style="min-height:25px;">
          <span style="font-size:75%;">
            {{restaurant.message}}
          </span>
        </div>
    </div>
  </div>

  <br/><br/><br/>
  <h1>Fallen Lunchtime Heroes</h1>

  <div class="closedRestaurants">
    <div
      *ngFor="let closedRestaurant of ClosedRestaurants; index as i"
      class="restaurant invalid-restaurant"
      >
        <span>
          {{closedRestaurant.name}}
        </span>
        <br/>
        <div style="min-height:25px;">
          <span style="font-size:75%;">
            Permanently closed ⚰️
          </span>
        </div>
    </div>
  </div>

  <br/>
</div>
